@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
}

<partial name="Partials/Layout/_PageHeader" model="(IPageHeader)Model" />

<section id="service-detail">
	<div class="container">
		<div class="service-detail">
            <aside class="service-detail-aside">
				@Html.GetBlockListHtml(Model.ServiceDetailAsides)
			</aside>
			<div class="content">
				@Html.GetBlockListHtml(Model.Body)
				@Html.GetBlockListHtml(Model.Sections)
			</div>
		</div>
	</div>
</section>