<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f585254-7da3-4d56-ad7e-0eea2785680b" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="314c8482-4a44-46e8-b5c3-b226aa290796">Brands </Parent>
    <Path>/Brands/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T09:25:49</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u1xpv1ny/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>