<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f840b6b-d4f9-460d-949e-fb4213467bf1" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="314c8482-4a44-46e8-b5c3-b226aa290796">Brands </Parent>
    <Path>/Brands/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T09:25:50</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tg1cndpc/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>