<?xml version="1.0" encoding="utf-8"?>
<Media Key="c916c9af-19b6-4675-943c-d84cee0283c8" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="314c8482-4a44-46e8-b5c3-b226aa290796">Brands </Parent>
    <Path>/Brands/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T09:25:49</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lv0lik3n/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>