<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdbafd65-177c-4e99-8fe3-76cf55e3671f" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="314c8482-4a44-46e8-b5c3-b226aa290796">Brands </Parent>
    <Path>/Brands/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T09:25:50</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s3abql1h/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>