<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae7cacd1-4f31-4174-b539-bd53f8cb7c6b" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="314c8482-4a44-46e8-b5c3-b226aa290796">Brands </Parent>
    <Path>/Brands/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T09:25:50</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/emin2tbk/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>