<?xml version="1.0" encoding="utf-8"?>
<Media Key="044531dd-f705-4c44-a940-1df7ad1c09ec" Alias="Aaron Lambert.svg" Level="2">
  <Info>
    <Parent Key="9883b1eb-6d24-42bd-b854-80afea75184f">Teams</Parent>
    <Path>/Teams/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:49:57</CreateDate>
    <NodeName Default="Aaron Lambert.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f4gopzq4/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>