<?xml version="1.0" encoding="utf-8"?>
<Media Key="77a72235-0423-4734-8fb8-7d501ef32e7f" Alias="AJ Carter.svg" Level="2">
  <Info>
    <Parent Key="9883b1eb-6d24-42bd-b854-80afea75184f">Teams</Parent>
    <Path>/Teams/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:49:57</CreateDate>
    <NodeName Default="AJ Carter.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y4pblfjy/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>