<?xml version="1.0" encoding="utf-8"?>
<Media Key="5168be35-e62f-4400-92ad-6a3af0ed7b88" Alias="Assurance &amp; Audits.svg" Level="2">
  <Info>
    <Parent Key="aabc7f8d-1b16-40e4-a861-55b2e5186961">Services</Parent>
    <Path>/Services/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T20:46:37</CreateDate>
    <NodeName Default="Assurance &amp; Audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y2bnvmzu/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>