<?xml version="1.0" encoding="utf-8"?>
<Media Key="949ec925-8ba8-459e-b965-617c0a1843e0" Alias="Bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T21:17:34</CreateDate>
    <NodeName Default="Bg.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/030dy3vt/bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>