<?xml version="1.0" encoding="utf-8"?>
<Media Key="28b8b706-e4eb-413e-a981-145855bf2d1e" Alias="Brandon Kerr.svg" Level="2">
  <Info>
    <Parent Key="9883b1eb-6d24-42bd-b854-80afea75184f">Teams</Parent>
    <Path>/Teams/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:49:57</CreateDate>
    <NodeName Default="Brandon Kerr.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4qfbvsxq/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>