<?xml version="1.0" encoding="utf-8"?>
<Media Key="314c8482-4a44-46e8-b5c3-b226aa290796" Alias="Brands " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T09:25:35</CreateDate>
    <NodeName Default="Brands " />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>