<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a2941c9-163e-4bd5-bf6e-82d24ef7fa4c" Alias="Brandon Newton.svg" Level="2">
  <Info>
    <Parent Key="9883b1eb-6d24-42bd-b854-80afea75184f">Teams</Parent>
    <Path>/Teams/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:50:12</CreateDate>
    <NodeName Default="Brandon Newton.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hp4ixobf/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>