<?xml version="1.0" encoding="utf-8"?>
<Media Key="44a521fe-9fc9-4562-bdac-f97381c27e87" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:50:31</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bsoapjws/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>