<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bb60da1-87ca-4561-bdbd-1991f531dd9d" Alias="Dot.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T21:17:32</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/koybjoor/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>