<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0317db0-8822-4c67-b6a3-e4d6b27f3ccd" Alias="Financial Advisor.svg" Level="2">
  <Info>
    <Parent Key="aabc7f8d-1b16-40e4-a861-55b2e5186961">Services</Parent>
    <Path>/Services/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T20:46:36</CreateDate>
    <NodeName Default="Financial Advisor.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ilajgirz/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>