<?xml version="1.0" encoding="utf-8"?>
<Media Key="7aff02ba-c929-4b82-a2cd-168fd41546c5" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="9883b1eb-6d24-42bd-b854-80afea75184f">Teams</Parent>
    <Path>/Teams/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:54:23</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jc5f1gbs/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>