<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c5dd289-e7f4-466a-a962-33cc26e776da" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T13:35:08</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pnxp5txp/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>