<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e14cf12-f627-4c34-9c68-534a0784d089" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="9883b1eb-6d24-42bd-b854-80afea75184f">Teams</Parent>
    <Path>/Teams/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:50:21</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2bzlm5b2/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>