<?xml version="1.0" encoding="utf-8"?>
<Media Key="3083f60e-ca76-4df5-b297-c08872d6037a" Alias="Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T13:02:00</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5rfddutn/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>