<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ef25895-3677-41f4-a62a-c1b8716de86e" Alias="Mail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T14:10:19</CreateDate>
    <NodeName Default="Mail.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m5sfbxdm/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>