<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f3e1045-2a6b-469a-bcac-9ab596871325" Alias="ManImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ManImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T21:17:33</CreateDate>
    <NodeName Default="ManImage.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w4wjy1lq/manimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>