<?xml version="1.0" encoding="utf-8"?>
<Media Key="be4d23bf-9e25-43e2-86c5-de3b613fc5b3" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T15:12:37</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jwpo4xb4/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>