<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c205851-3a9f-46c1-933a-adc926a32208" Alias="Miranda Dayton.svg" Level="2">
  <Info>
    <Parent Key="9883b1eb-6d24-42bd-b854-80afea75184f">Teams</Parent>
    <Path>/Teams/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:50:13</CreateDate>
    <NodeName Default="Miranda Dayton.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/upsje1ue/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>