<?xml version="1.0" encoding="utf-8"?>
<Media Key="541d5364-79a9-4408-b95f-accbb90080aa" Alias="Rectangle-right.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RectangleRightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:09:27</CreateDate>
    <NodeName Default="Rectangle-right.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s1xl5nvs/rectangle-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>