<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae28837b-3617-4832-a2b1-2593afb19946" Alias="Rectangle.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rectanglesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:40:20</CreateDate>
    <NodeName Default="Rectangle.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/re5iutam/rectangle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>