<?xml version="1.0" encoding="utf-8"?>
<Media Key="34437e87-3d8e-4e12-a49e-5ada4f8d54ec" Alias="Rectangle-left.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RectangleLeftsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:09:17</CreateDate>
    <NodeName Default="Rectangle-left.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oxbpdvuv/rectangle-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>