<?xml version="1.0" encoding="utf-8"?>
<Media Key="e78d07c7-30ab-4823-9f32-b3112f915ec3" Alias="RiskManagment.svg" Level="2">
  <Info>
    <Parent Key="aabc7f8d-1b16-40e4-a861-55b2e5186961">Services</Parent>
    <Path>/Services/RiskManagmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T20:46:36</CreateDate>
    <NodeName Default="RiskManagment.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gw3c4bnq/riskmanagment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>