<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2fc0882-ed7c-4c13-a262-a3389464a414" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T16:59:24</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oc0f2udh/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>