<?xml version="1.0" encoding="utf-8"?>
<Media Key="0baa0062-eff9-4ded-8c6d-4236597129ce" Alias="Statistic Advisors.svg" Level="2">
  <Info>
    <Parent Key="aabc7f8d-1b16-40e4-a861-55b2e5186961">Services</Parent>
    <Path>/Services/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T20:46:37</CreateDate>
    <NodeName Default="Statistic Advisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sc4br0pc/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>