<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc664f91-177a-4b4d-811e-5f198c24eba5" Alias="TaxandTrusts.svg" Level="2">
  <Info>
    <Parent Key="aabc7f8d-1b16-40e4-a861-55b2e5186961">Services</Parent>
    <Path>/Services/TaxandTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T20:46:36</CreateDate>
    <NodeName Default="TaxandTrusts.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mpzmihtb/taxandtrusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>