<?xml version="1.0" encoding="utf-8"?>
<Media Key="9883b1eb-6d24-42bd-b854-80afea75184f" Alias="Teams" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Teams</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T09:49:48</CreateDate>
    <NodeName Default="Teams" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>