<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc0dad87-ef73-486f-bc9a-dde37982129b" Alias="Team.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Teamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:35:54</CreateDate>
    <NodeName Default="Team.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ouik4xti/team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>