<?xml version="1.0" encoding="utf-8"?>
<Media Key="d36aa775-5840-43e5-a9ce-d55914362f38" Alias="Tina Fox - CEO &amp; Founder at Onatrix.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxCEOFounderAtOnatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T13:34:31</CreateDate>
    <NodeName Default="Tina Fox - CEO &amp; Founder at Onatrix.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q2nmqmk1/tina-fox-ceo-founder-at-onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>