<?xml version="1.0" encoding="utf-8"?>
<Media Key="84514b2c-f978-4f6c-a673-f4b57da2cc4b" Alias="Tina Fox.svg" Level="2">
  <Info>
    <Parent Key="9883b1eb-6d24-42bd-b854-80afea75184f">Teams</Parent>
    <Path>/Teams/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:50:17</CreateDate>
    <NodeName Default="Tina Fox.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/111pgztd/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>