<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6cfdfd6-1957-47d1-be42-2160195aced5" Alias="Video 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Video1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:52:13</CreateDate>
    <NodeName Default="Video 1.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/errg0vcm/video-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>