<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a4933835-dce8-4ade-86d0-f37774028243" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c50ab200-e653-4b9f-bdc4-5a26eb6169bb">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fc50c70b-d291-4a27-8770-35529fb23d5c" SortOrder="0">contactPage</ContentType>
    <ContentType Key="08a1f345-d040-4265-b8d2-e0732d7c09d1" SortOrder="1">servicePage</ContentType>
    <ContentType Key="767f7b4c-1ec4-4cce-999b-61db18688c44" SortOrder="2">about</ContentType>
    <ContentType Key="e2dca18a-f5ab-44e1-a247-1f589062b455" SortOrder="3">projects</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0edf9b45-f87d-4817-a028-cfb3cebfd292</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>94d2b576-eed6-48c8-a587-f6105333a27e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27c73cd4-9818-4094-ab0a-ba2c58602959</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>