<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb66699a-d8df-4e66-b3f7-218cf5e7389a" Alias="About" Level="2">
  <Info>
    <Parent Key="6bf0c309-f7ab-4ca4-abce-8633a240939f">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-22T15:23:02</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b9eabdb-aa43-4f84-9bef-769ef3b9d17c">AboutPage</Template>
  </Info>
  <Properties>
    <bgImageleft>
      <Value><![CDATA[[
  {
    "key": "090a3068-412f-400f-8e17-0d56b8431f50",
    "mediaKey": "34437e87-3d8e-4e12-a49e-5ada4f8d54ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageleft>
    <bgImageright>
      <Value><![CDATA[[
  {
    "key": "40d1051d-1235-4627-a28a-2097a8616fdf",
    "mediaKey": "541d5364-79a9-4408-b95f-accbb90080aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageright>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e128e223-abb5-4fc4-8250-48b86b1d180a",
      "key": "7e955f71-1906-41fb-a1cc-fb2b2179ec90",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;font-size: 16pt;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;font-size: 16pt;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "64965fa0-6727-43e5-8c25-601e1688adb1",
                "key": "b73f9970-89c6-4b2f-8141-08434e1faaee",
                "udi": null,
                "values": [
                  {
                    "alias": "teamRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "31f0cc45-aa3b-4736-9e4b-554e3d665873",
                        "mediaKey": "5a2941c9-163e-4bd5-bf6e-82d24ef7fa4c",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  }
                ]
              },
              {
                "contentTypeKey": "64965fa0-6727-43e5-8c25-601e1688adb1",
                "key": "642b956f-c406-4fc7-a598-667579b6ff7b",
                "udi": null,
                "values": [
                  {
                    "alias": "teamRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4983b9dc-3d95-4595-8f76-ead874301fed",
                        "mediaKey": "77a72235-0423-4734-8fb8-7d501ef32e7f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  }
                ]
              },
              {
                "contentTypeKey": "64965fa0-6727-43e5-8c25-601e1688adb1",
                "key": "9c257dfe-9ff1-4b8c-83e8-84d29120b355",
                "udi": null,
                "values": [
                  {
                    "alias": "teamRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9774aba5-aaeb-4168-ae09-6c0bcd834649",
                        "mediaKey": "044531dd-f705-4c44-a940-1df7ad1c09ec",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  }
                ]
              },
              {
                "contentTypeKey": "64965fa0-6727-43e5-8c25-601e1688adb1",
                "key": "adeb4e71-72e6-4399-a390-0b81319b9b85",
                "udi": null,
                "values": [
                  {
                    "alias": "teamRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "dc4795c1-2389-45d5-a919-9f0d2a898911",
                        "mediaKey": "84514b2c-f978-4f6c-a673-f4b57da2cc4b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  }
                ]
              },
              {
                "contentTypeKey": "64965fa0-6727-43e5-8c25-601e1688adb1",
                "key": "cddb5233-fe2a-4a3d-9952-3bc8291b126a",
                "udi": null,
                "values": [
                  {
                    "alias": "teamRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c59159cf-ca0c-4e8d-a95e-2ec3be201505",
                        "mediaKey": "28b8b706-e4eb-413e-a981-145855bf2d1e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  }
                ]
              },
              {
                "contentTypeKey": "64965fa0-6727-43e5-8c25-601e1688adb1",
                "key": "b5ef993d-2399-4126-8567-d65864a23565",
                "udi": null,
                "values": [
                  {
                    "alias": "teamRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3d5bd965-c213-4aec-b228-bd45751447db",
                        "mediaKey": "8c205851-3a9f-46c1-933a-adc926a32208",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  }
                ]
              },
              {
                "contentTypeKey": "64965fa0-6727-43e5-8c25-601e1688adb1",
                "key": "d4a2022e-f3fe-42a7-84bd-98794f7a6dad",
                "udi": null,
                "values": [
                  {
                    "alias": "teamRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1bc18c03-2e19-4a4e-ac43-f8e11c603f65",
                        "mediaKey": "7aff02ba-c929-4b82-a2cd-168fd41546c5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "b73f9970-89c6-4b2f-8141-08434e1faaee",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "642b956f-c406-4fc7-a598-667579b6ff7b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9c257dfe-9ff1-4b8c-83e8-84d29120b355",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "adeb4e71-72e6-4399-a390-0b81319b9b85",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cddb5233-fe2a-4a3d-9952-3bc8291b126a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b5ef993d-2399-4126-8567-d65864a23565",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d4a2022e-f3fe-42a7-84bd-98794f7a6dad",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b73f9970-89c6-4b2f-8141-08434e1faaee",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "642b956f-c406-4fc7-a598-667579b6ff7b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9c257dfe-9ff1-4b8c-83e8-84d29120b355",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "adeb4e71-72e6-4399-a390-0b81319b9b85",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cddb5233-fe2a-4a3d-9952-3bc8291b126a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b5ef993d-2399-4126-8567-d65864a23565",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d4a2022e-f3fe-42a7-84bd-98794f7a6dad",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "419df893-6d68-44cb-a6dd-8d5cd6340c1d",
      "key": "2551c8e0-725f-408e-be2b-88d781caaadc",
      "udi": null,
      "values": [
        {
          "alias": "contactUsDotImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "58ab0f93-8bbf-482f-985f-9979d6c440c1",
              "mediaKey": "5bb60da1-87ca-4561-bdbd-1991f531dd9d",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactUsBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "440528b7-3fb3-4195-8bc2-49e7f3ea5e49",
              "mediaKey": "949ec925-8ba8-459e-b965-617c0a1843e0",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactUsManImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f3d88bd2-29dd-450b-a507-33c9df700109",
              "mediaKey": "8f3e1045-2a6b-469a-bcac-9ab596871325",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactUsTitile",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactUsLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOffice location\u003C/p\u003E\u003Cp\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/p\u003E"
          }
        },
        {
          "alias": "contactUsPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPhone number\u003C/p\u003E\u003Cp\u003E\u002B46 8 123 456 75\u003C/p\u003E"
          }
        },
        {
          "alias": "contactUsEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EE-mail address\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:sales@onatrix.com\u0022 type=\u0022external\u0022\u003Esales@onatrix.com\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7e955f71-1906-41fb-a1cc-fb2b2179ec90",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2551c8e0-725f-408e-be2b-88d781caaadc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7e955f71-1906-41fb-a1cc-fb2b2179ec90",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2551c8e0-725f-408e-be2b-88d781caaadc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>