<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb66699a-d8df-4e66-b3f7-218cf5e7389a" Alias="About" Level="2">
  <Info>
    <Parent Key="6bf0c309-f7ab-4ca4-abce-8633a240939f">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2025-10-22T15:23:02</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b9eabdb-aa43-4f84-9bef-769ef3b9d17c">About</Template>
  </Info>
  <Properties>
    <bgImageleft>
      <Value><![CDATA[[
  {
    "key": "090a3068-412f-400f-8e17-0d56b8431f50",
    "mediaKey": "34437e87-3d8e-4e12-a49e-5ada4f8d54ec",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageleft>
    <bgImageright>
      <Value><![CDATA[[
  {
    "key": "40d1051d-1235-4627-a28a-2097a8616fdf",
    "mediaKey": "541d5364-79a9-4408-b95f-accbb90080aa",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageright>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[Team section]]></Value>
    </title>
  </Properties>
</Content>