<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b5831f9-bc67-4ecb-afbf-6eb3b7fdaef5" Alias="Adnan - 2025-10-31 19:52:34" Level="2">
  <Info>
    <Parent Key="f7260dbe-d22a-4f65-87e1-d8030560ac28">Form Submissions</Parent>
    <Path>/FormSubmissions/Adnan20251031195234</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T19:52:34</CreateDate>
    <NodeName Default="Adnan - 2025-10-31 19:52:34" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[adnan@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Adnan]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0721010101]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>