<?xml version="1.0" encoding="utf-8"?>
<Content Key="13fc045f-0d7a-4b93-a0ec-214d8da41b81" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="0da9625e-c407-4096-9676-d8edd5183c63">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-25T12:14:57</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b17691ad-4c33-4aec-a300-f0d6b5ac701b">ServiceDetail</Template>
  </Info>
  <Properties>
    <bgImageleft>
      <Value><![CDATA[[
  {
    "key": "5ba7dea3-e65a-4bf1-a4c0-aef1ad7d74ec",
    "mediaKey": "34437e87-3d8e-4e12-a49e-5ada4f8d54ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageleft>
    <bgImageright>
      <Value><![CDATA[[
  {
    "key": "ad44a441-a4fc-41e1-b49a-d82b331b3a9c",
    "mediaKey": "541d5364-79a9-4408-b95f-accbb90080aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageright>
    <detailBody>
      <Value><![CDATA[]]></Value>
    </detailBody>
    <excerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </excerpt>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "14688a8c-4cae-4c8d-a568-0a6bcedb6bb8",
      "key": "a0e6e337-cb1a-415a-bc7a-4f0564ce3738",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c3e50bab-1d72-40e2-be59-925ea2703da4",
              "mediaKey": "0baa0062-eff9-4ded-8c6d-4236597129ce",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a0e6e337-cb1a-415a-bc7a-4f0564ce3738",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a0e6e337-cb1a-415a-bc7a-4f0564ce3738",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <seviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "d01168bc-c2b7-4850-8ae8-7e4e2f20f06a",
    "mediaKey": "5168be35-e62f-4400-92ad-6a3af0ed7b88",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seviceDetailThumbnail>
  </Properties>
</Content>