<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3f5e3c8-3dec-4dd6-9158-0c39d4cb00c8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="6bf0c309-f7ab-4ca4-abce-8633a240939f">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-20T16:50:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00aba7b1-28ec-47d2-b746-d0982e2696c3">ContactPage</Template>
  </Info>
  <Properties>
    <bgImageleft>
      <Value><![CDATA[[
  {
    "key": "a7c7ebd6-9ca8-4254-80d6-68e9e416a164",
    "mediaKey": "34437e87-3d8e-4e12-a49e-5ada4f8d54ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageleft>
    <bgImageright>
      <Value><![CDATA[[
  {
    "key": "0815f0d9-bdff-4c51-ace3-4e4033f02315",
    "mediaKey": "541d5364-79a9-4408-b95f-accbb90080aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageright>
    <footerCopyright>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerCopyright>
    <footerText>
      <Value><![CDATA[Themesflat]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>