<?xml version="1.0" encoding="utf-8"?>
<Content Key="a29e53e5-aefb-44af-afb7-fc9fd26af1f3" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="0da9625e-c407-4096-9676-d8edd5183c63">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-25T12:16:06</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b17691ad-4c33-4aec-a300-f0d6b5ac701b">ServiceDetail</Template>
  </Info>
  <Properties>
    <bgImageleft>
      <Value><![CDATA[[
  {
    "key": "3b8fb240-e27b-4ace-a449-6a675a9ea8a6",
    "mediaKey": "34437e87-3d8e-4e12-a49e-5ada4f8d54ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageleft>
    <bgImageright>
      <Value><![CDATA[[
  {
    "key": "38fad271-df99-4ede-b9c3-a22e4ac79872",
    "mediaKey": "541d5364-79a9-4408-b95f-accbb90080aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageright>
    <detailBody>
      <Value><![CDATA[]]></Value>
    </detailBody>
    <excerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </excerpt>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "14688a8c-4cae-4c8d-a568-0a6bcedb6bb8",
      "key": "367aef05-62f8-4caf-861c-00c22ad19aa8",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f4400037-0248-4bb6-9252-5dd0347a527d",
              "mediaKey": "0baa0062-eff9-4ded-8c6d-4236597129ce",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "367aef05-62f8-4caf-861c-00c22ad19aa8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "367aef05-62f8-4caf-861c-00c22ad19aa8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <seviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "e2a170f2-f4ab-4d0e-9deb-2aeab7babc2a",
    "mediaKey": "c0317db0-8822-4c67-b6a3-e4d6b27f3ccd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seviceDetailThumbnail>
  </Properties>
</Content>