<?xml version="1.0" encoding="utf-8"?>
<Content Key="af44725d-e6fe-491a-ba93-98e19266ba11" Alias="Footer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>pageFooter</ContentType>
    <CreateDate>2025-11-02T11:51:50</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerCopyright>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerCopyright>
    <footerText>
      <Value><![CDATA[Themesflat]]></Value>
    </footerText>
  </Properties>
</Content>