<?xml version="1.0" encoding="utf-8"?>
<Content Key="5267e61d-c13d-44fe-be22-f9149b0d9e7d" Alias="Khalifa - 2025-11-03 18:21:29" Level="2">
  <Info>
    <Parent Key="f7260dbe-d22a-4f65-87e1-d8030560ac28">Form Submissions</Parent>
    <Path>/FormSubmissions/Khalifa20251103182129</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-03T18:21:29</CreateDate>
    <NodeName Default="Khalifa - 2025-11-03 18:21:29" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rafeefkhalifah1987@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Khalifa]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0760343812]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>