<?xml version="1.0" encoding="utf-8"?>
<Content Key="a39db2e6-3e1b-4de7-beb7-42294c4a91b8" Alias="Khalifa - 2025-11-03 18:22:02" Level="2">
  <Info>
    <Parent Key="f7260dbe-d22a-4f65-87e1-d8030560ac28">Form Submissions</Parent>
    <Path>/FormSubmissions/Khalifa20251103182202</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-03T18:22:02</CreateDate>
    <NodeName Default="Khalifa - 2025-11-03 18:22:02" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rafeefkhalifah1987@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Khalifa]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0760343812]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>