<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c846ca8-dea3-4afa-a955-b85a8e466459" Alias="Projects" Level="2">
  <Info>
    <Parent Key="6bf0c309-f7ab-4ca4-abce-8633a240939f">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2025-10-22T15:26:19</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6660f32b-8c76-4605-8fe0-886e5a836ea3">Projects</Template>
  </Info>
  <Properties>
    <bgImageleft>
      <Value><![CDATA[[
  {
    "key": "7acf0234-049e-444b-910f-6ee83c5e94b8",
    "mediaKey": "34437e87-3d8e-4e12-a49e-5ada4f8d54ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageleft>
    <bgImageright>
      <Value><![CDATA[[
  {
    "key": "d3798798-762b-4bcb-872d-2ec50147ec84",
    "mediaKey": "541d5364-79a9-4408-b95f-accbb90080aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageright>
    <footerCopyright>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerCopyright>
    <footerText>
      <Value><![CDATA[Themesflat]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <projectName>
      <Value><![CDATA[Projects]]></Value>
    </projectName>
  </Properties>
</Content>