<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e9cbc94-7c15-4576-8eef-c0129a247b8d" Alias="Rafeef Khalifa - 2025-11-03 17:21:14" Level="2">
  <Info>
    <Parent Key="f7260dbe-d22a-4f65-87e1-d8030560ac28">Form Submissions</Parent>
    <Path>/FormSubmissions/RafeefKhalifa20251103172114</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-03T17:21:14</CreateDate>
    <NodeName Default="Rafeef Khalifa - 2025-11-03 17:21:14" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rafeefkhalifah1987@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Rafeef Khalifa]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0760343812]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>