<?xml version="1.0" encoding="utf-8"?>
<Content Key="66d6c702-a6ac-4aa5-a7f6-fdc334714bc5" Alias="Rafeef - 2025-10-31 19:21:52" Level="2">
  <Info>
    <Parent Key="f7260dbe-d22a-4f65-87e1-d8030560ac28">Form Submissions</Parent>
    <Path>/FormSubmissions/Rafeef20251031192152</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T19:21:52</CreateDate>
    <NodeName Default="Rafeef - 2025-10-31 19:21:52" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rafeef@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Rafeef]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[076010101]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>