<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d186862-2d85-432d-b011-85a1fccf93ed" Alias="Rafeef - 2025-11-03 17:25:43" Level="2">
  <Info>
    <Parent Key="f7260dbe-d22a-4f65-87e1-d8030560ac28">Form Submissions</Parent>
    <Path>/FormSubmissions/Rafeef20251103172543</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-03T17:25:43</CreateDate>
    <NodeName Default="Rafeef - 2025-11-03 17:25:43" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rafeefkhalifah1987@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Rafeef]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0760343812]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>