<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4cfa042-e7d7-46cd-99d4-35c0f9c36940" Alias="Rafeef - 2025-11-03 18:10:10" Level="2">
  <Info>
    <Parent Key="f7260dbe-d22a-4f65-87e1-d8030560ac28">Form Submissions</Parent>
    <Path>/FormSubmissions/Rafeef20251103181010</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-03T18:10:10</CreateDate>
    <NodeName Default="Rafeef - 2025-11-03 18:10:10" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rafeefkhalifah1987@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Rafeef]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0760343812]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>