<?xml version="1.0" encoding="utf-8"?>
<Content Key="a65e6fa1-2f69-4ecb-a2e0-71e341df4152" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="0da9625e-c407-4096-9676-d8edd5183c63">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-25T12:13:55</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b17691ad-4c33-4aec-a300-f0d6b5ac701b">ServiceDetail</Template>
  </Info>
  <Properties>
    <bgImageleft>
      <Value><![CDATA[[
  {
    "key": "e9fa7ef7-38c0-42db-8190-9c89d6e97cb2",
    "mediaKey": "34437e87-3d8e-4e12-a49e-5ada4f8d54ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageleft>
    <bgImageright>
      <Value><![CDATA[[
  {
    "key": "242c84fd-5495-42a4-8028-1374e6754b14",
    "mediaKey": "541d5364-79a9-4408-b95f-accbb90080aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageright>
    <detailBody>
      <Value><![CDATA[]]></Value>
    </detailBody>
    <excerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </excerpt>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "14688a8c-4cae-4c8d-a568-0a6bcedb6bb8",
      "key": "bea360ae-bcb3-4f18-8a44-b9f8e4e9f982",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ab922433-15b2-489e-853c-3c08e165969f",
              "mediaKey": "0baa0062-eff9-4ded-8c6d-4236597129ce",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "bea360ae-bcb3-4f18-8a44-b9f8e4e9f982",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bea360ae-bcb3-4f18-8a44-b9f8e4e9f982",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <seviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8cdc21c5-31eb-49bf-80c9-087f9703e23c",
    "mediaKey": "e78d07c7-30ab-4823-9f32-b3112f915ec3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seviceDetailThumbnail>
  </Properties>
</Content>