<?xml version="1.0" encoding="utf-8"?>
<Content Key="d225a7a3-498b-4fc7-9562-9a92eb018cb5" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-22T13:05:48</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[++46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bd032662-c0e2-4dcd-ba31-2b18e69dd19c",
      "key": "9564bad8-7f5d-4941-81ab-8594065a2726",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "accountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/"
        }
      ]
    },
    {
      "contentTypeKey": "bd032662-c0e2-4dcd-ba31-2b18e69dd19c",
      "key": "addca09c-f28e-4ffc-b963-49ebc8d1b02a",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "accountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/"
        }
      ]
    },
    {
      "contentTypeKey": "bd032662-c0e2-4dcd-ba31-2b18e69dd19c",
      "key": "04becce9-fd5c-466f-829b-90963ed3bec7",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "accountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9564bad8-7f5d-4941-81ab-8594065a2726",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "addca09c-f28e-4ffc-b963-49ebc8d1b02a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "04becce9-fd5c-466f-829b-90963ed3bec7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9564bad8-7f5d-4941-81ab-8594065a2726",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "addca09c-f28e-4ffc-b963-49ebc8d1b02a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "04becce9-fd5c-466f-829b-90963ed3bec7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "2f3a4014-28fe-473b-b863-dbbf65ac1186",
    "mediaKey": "3083f60e-ca76-4df5-b297-c08872d6037a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>