<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2457400-5021-45f7-9ef5-ec855dec3d60" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="0da9625e-c407-4096-9676-d8edd5183c63">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-25T12:13:19</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b17691ad-4c33-4aec-a300-f0d6b5ac701b">ServiceDetail</Template>
  </Info>
  <Properties>
    <bgImageleft>
      <Value><![CDATA[[
  {
    "key": "ac637ba5-2f85-4d87-8243-fa900e7d257c",
    "mediaKey": "34437e87-3d8e-4e12-a49e-5ada4f8d54ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageleft>
    <bgImageright>
      <Value><![CDATA[[
  {
    "key": "0d8abc02-1ef6-43d0-8777-bf339f14be43",
    "mediaKey": "541d5364-79a9-4408-b95f-accbb90080aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageright>
    <detailBody>
      <Value><![CDATA[]]></Value>
    </detailBody>
    <excerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </excerpt>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "14688a8c-4cae-4c8d-a568-0a6bcedb6bb8",
      "key": "d0b96ff6-a08d-4186-a256-78058b312821",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9776bbe3-b158-4f30-821e-4fece67316c8",
              "mediaKey": "0baa0062-eff9-4ded-8c6d-4236597129ce",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d0b96ff6-a08d-4186-a256-78058b312821",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d0b96ff6-a08d-4186-a256-78058b312821",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <seviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "6b9f7b06-f35d-41bd-8d76-0b469f1bedb9",
    "mediaKey": "0baa0062-eff9-4ded-8c6d-4236597129ce",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seviceDetailThumbnail>
  </Properties>
</Content>