@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamMember)Model.Content;
}

<div class="">
    @if (content.TeamImage != null)
    {
        <img src="@content.TeamImage?.Url()" alt="@content.TeamImage?.Name" />
    }
    <h4>@content.TeamMemberName</h4>
    <p>@content.TeamRole</p>
</div>