<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94d2b576-eed6-48c8-a587-f6105333a27e" Alias="Onatrix-Sections" Level="1">
  <Info>
    <Name>Onatrix-Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "870e8f00-bd54-4b3d-9a76-4996887c4ddb"
    },
    {
      "contentElementTypeKey": "9c6850bd-7c2a-4f42-b2a1-bf3b115f169e",
      "settingsElementTypeKey": "46aa6db9-6014-49d6-bc9e-f2906e36072f"
    },
    {
      "contentElementTypeKey": "e128e223-abb5-4fc4-8250-48b86b1d180a"
    },
    {
      "contentElementTypeKey": "1e75e08b-f354-4d8c-bdc5-4467fc37d0e9",
      "settingsElementTypeKey": "da48d7be-005c-4bf2-9bf2-3ac8495432b0"
    }
  ]
}]]></Config>
</DataType>