<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd283fd7-cfca-4648-a7e8-66b351835363" Alias="Service Detail - Detail Body " Level="1">
  <Info>
    <Name>Service Detail - Detail Body </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8223b6dd-f9fb-484a-a763-11a30fb5fd38"
    }
  ]
}]]></Config>
</DataType>