<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82a7095e-a248-4112-b39c-c78060b94706" Alias="Service Detail - Online Support Form " Level="1">
  <Info>
    <Name>Service Detail - Online Support Form </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4219b5d-e7cd-4bab-bffd-c5d78a8013c3"
    }
  ]
}]]></Config>
</DataType>