<?xml version="1.0" encoding="utf-8"?>
<DataType Key="725fae25-6275-46bb-86a3-e58e6091b36d" Alias="Service Detail  Aside - list" Level="1">
  <Info>
    <Name>Service Detail  Aside - list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "14688a8c-4cae-4c8d-a568-0a6bcedb6bb8"
    }
  ]
}]]></Config>
</DataType>