<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35fbc9a6-6301-4ef7-856a-e5ebbd8a5ea9" Alias="Settings  - CallbackReqeustOptions" Level="1">
  <Info>
    <Name>Settings  - CallbackReqeustOptions</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>