<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15767799-fd5c-4bdc-8b10-83441bdc5c8c" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bd032662-c0e2-4dcd-ba31-2b18e69dd19c",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>