<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87ab6004-ab8d-4f2f-9e92-ce977b92fd2b" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "64965fa0-6727-43e5-8c25-601e1688adb1",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>